$dark-grey: #333;
$white: #FFF;

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700');

body {
  font-family: Merriweather;
}

header {
  background-color: $dark-grey;
  color: $white;
  height: 45px;
  padding: 1rem;
  font-weight: 300;
}

main {
  padding: 1rem;
  min-height: calc(100vh - 90px);
}

footer {
  padding: 1rem;
  background-color: $dark-grey;
  color: $white;
  height: 45px;
}



$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  ul {
    float:right;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {

    display: inline-block; }

  a {
    // display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: grey;
    :hover{
      color: blue;
    }
  }
}
