<!DOCTYPE html>
<html>
  <head>
         <title>{{title}}</title>
         <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <header>
      <h1>sass setup</h1>
      <nav>
        <ul>
          <a href="#"><li>About Us</li></a>
          <a href="#"><li>Stuff</li></a>
          <a href="#"><li>Other Things</li></a>
        </ul>
      </nav>
  </header>
  <main>
      {{{body}}}
  </main>
  <footer>
      <small>&copy; g41</small>
  </footer>
  </body>
</html>
